.top-banner {
    padding: 80px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../../images/banner-background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.form {
    background-color: lightblue;
}

@media screen and (max-width: 414px) {
    .top-banner {
        padding-top: 80px;
        padding-bottom: 625px
    }
    .form {
        margin-top: 10px;
    }
}