.top-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../../images/banner-background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.form {
    background-color: lightblue;
}